@charset "UTF-8";

.pag2{
    position: relative;
    background-image: url('../imagens/apresentação.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 1080px;
    margin: auto;
}
.pag2 p {
    opacity: 0.8;
    position: absolute;
    top: 15%;
    left: 41%;
    margin: 40px 2%;
    width: 50%;
    text-indent: 30px;
    font-size: 1.3em;
    text-align: justify;
    text-shadow:#0B3667 1px 1px 3px;
    color: white;
}


 